server 
{
    server_name       www.testing.org.my;
    main_root         /home/jpaul/Desktop/Webserve/main/website/2;   
    listen            127.0.0.5:9000;
    listen            127.0.0.2:8000;
    client_body_size  10000;   
    
    route /
    {
        index main.html
        autoindex OFF
    }

    route /fruits/
    {    
        index fruits.html 
    }
    
    route /script/
    {    
        index hello.c 
    }
    
    route /vegetables/
    {    
        index veggies.html
    }  
    
    route /zombie/
    {
        index types.html
    }
}

