server 
{
    server_name       example.com;
    main_root         /home/jpaul/Desktop/Webserve/test/website;   
    listen            127.2.2.2:9000;   
    listen            127.0.199.50:8080;   
    error_page  404   /error/404.html;   
    error_page  405   /error/405.html;   
    client_body_size  100;   
    
    route /
    {
        index main.html
        autoindex OFF
    }

    route /archive/                                      
    {    
        methods    GET;        
        autoindex  ON;   
    }   
    
    route /archive/                                      
    {    
        methods    GET;        
        autoindex  ON;   
    }  

    route /redirect/
    {
        redirect www.youtube.com
    }

    route /upload/
    {    
        methods     POST;
        upload_dir  /upload;   
    }

   route  /cgi-bin/
   {
     methods    GET;
     cgi  .py  /bin;
   } 
}