server 
{
    server_name       www.myWebsite.gov;
    main_root         /home/jpaul/Desktop/Webserve/main/website/1;   
    listen            127.0.1.1:5000;
    listen            127.0.1.1:8060;
    error_page  404   /404.html; 
    client_body_size  10000;   
    
    route /
    {
        index main.html
        autoindex OFF
    }
}

