server 
{
    server_name       www.example-4.com;
    main_root         /home/jpaul/Desktop/Webserve/main/website/4;   
    listen            127.0.1.2:9000;   
    listen            127.0.22.50:4080; 
    error_page  404   /error/404.html;   
    error_page  405   /error/405.html;   
    client_body_size  100;   
    
    route /
    {
        index main.html
        autoindex OFF
    }

    route /archive/
    {    
        methods    GET, DELETE;        
        autoindex  ON;   
    }   
    
    route /redirect/
    {
        redirect https://www.youtube.com/
    }

    route /upload/
    {    
        methods     GET, POST;
        upload_dir  /archive/;
        index       upload.html   
    }

   route  /bin/
   {
        methods    GET, POST, DELETE;
        cgi  .py;
        index showBody.py; 
   } 

    route /test/
    {
        method GET, POST, DELETE;
    }

    route /delete/
    {
        method DELETE
        index testDel.py
        cgi .py
    }
}
